assets/*.json
assets/*.pptx
assets/videos/*.*
assets/videos/demo-*.*
backup/
monitor_service/__pycache__/
monitor_service/log/
avatar_client/node_modules/
avatar_client/dist/
log/
config.json
__pycache__/
.comate/
test_*
/comate